.content {
  text-align: center;
  gap: 4%;
  /* line-height: 30%; */
  margin: 3%;
}
.heading {
  font-size: larger;
  font-weight: 600;
  /* padding-bottom: 20%; */
  margin-bottom: 1.3%;
  /* padding-bottom: 1.3px;
  border-bottom: 3px solid black;
  line-height: 48px;
  /* width: 20%; */
  text-decoration: 3px underline rgb(27, 26, 26);
  text-underline-offset: 10px;
  /* text-decoration: ; */
}

.cardss {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 4.5rem;
  /* border: 3px solid red; */
  margin-bottom: 2%;
  outline: none;
}
.cardss button {
  background: #f2f4f6;
  width: 32%;
  border: none;
}
.cardss .two {
  background: #ccd3dc;
}

/* .card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
} */

/* .card_one img{
  padding: 4%;
  width: 22rem;
  height: 18rem;
 
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

} */

.card_name {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  gap: 2%;
}
.card_name_one {
  /* border: 3px solid black; */
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  width: 33%;
  /* padding: ; */

  /* height: 12%; */
}
.card {
  padding: 7%;
  /* background-color: #FFFFFF; */
  /* background-color: #F9F9F9; */
}
.card img {
  width: 20rem;
  height: 15rem;
}
.card-title {
  color: #002550;
}
.card-text {
  text-align: justify;
  font-style: normal;
  color: grey;
}
.card-text,
.card-title {
  /* border: 3px solid pink; */
  margin-left: -4%;
}
.butt {
  margin-left: -4%;
}
.butti {
  color: #002550;

  border-color: 002550;
}
.buttandprice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*   
  width: 50%;
  height: 3%; */
}
.card_price {
  color: #002550;
}
.cardshadow {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.buttview {
  /* border: 3px solid blue; */
  position: relative;
  float: right;

}
